{% extends 'users/base.html' %}


{% load bootstrap4 %}


{% block title %}Conectate a tu escuela - {{ block.super }}{% endblock %}


{% block content %}

    <div class="py-5 container">

        <h1 class="text-center">Conectate a tu escuela</h1>

        <form method="post">

            {% csrf_token %}

            <div class="d-flex">
                <div class="flex-grow-1">
                    {% bootstrap_form form layout='inline' %}
                </div>
                <div>
                    <div class="form-control disabled" readonly>
                        {{ request.get_host }}
                    </div>
                </div>
            </div>

            {% for error in form.subdomain.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <br>

            <button class="btn btn-block btn-dark" type="submit">continuar</button>

            {% comment %}
            <a class="btn btn-block btn-outline-dark" href="{% url 'login' %}">iniciar sesión</a>
            {% endcomment %}

        </form>

    </div>

{% endblock %}
