{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}


{% block title %}Preguntas{% endblock %}


{% block header %}

    {% include 'base/header.html' with title=classroom.name subtitle='Curso' back_url=classroom.get_detail_url %}

{% endblock header %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center   ">
                <span>Preguntas</span>

                <a href="{% url 'question-create' classroom.id %}" class="btn btn-outline-success btn-sm">agregar</a>
            </div>
        </div>

        {% if questions.exists %}

            <div class="list-group list-group-flush">
                {% for question in questions %}
                    <a class="list-group-item list-group-item-action py-2" href="{{ question.get_detail_url }}">
                        <div class="d-flex justify-content-between">
                            <small>{{ question.creator }}</small>
                            <small>{{ question.creation_timestamp|date }}</small>
                        </div>
                        <div class="font-weight-bold">{{ question.subject }}</div>
                    </a>
                {% endfor %}
            </div>

        {% else %}

            <p class="text-center pt-4">
                <i class="h1 text-secondary far fa-envelope"></i>
                <i class="h1 text-secondary far fa-envelope"></i>
            </p>

            <p class="text-secondary text-center">
                <a href="{% url 'question-create' classroom.id %}" class="btn btn-success btn-sm">agregar</a>
            </p>

            <p class="text-secondary text-center pt-1 pb-2">Envia tu primera pregunta</p>

        {% endif %}
    </div>

{% endblock content %}
