{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}
{% load i18n %}


{% block title %}Estudiantes - {{ block.super }}{% endblock %}


{% block header %}

    {% include 'base/header.html' with title=classroom.name subtitle='Curso' back_url=classroom.get_student_list_url %}

{% endblock header %}


{% block content %}

    <form class="p-4" method="post">
        {% csrf_token %}

        <input type="hidden" value="{{ object.id }}" name="itemsToDelete" />

        <p>El siguiente estudiante será eliminado.</p>

        <div class="alert alert-secondary">{{ student }}</div>

        <br>

        <p>
            <button class="btn btn-block btn-danger">eliminar</button>
            <a href="{% url 'student-update' classroom.id student.id %}" class="btn btn-block btn-outline-secondary">cancelar</a>
        </p>
    </form>

{% endblock content %}
