{% extends 'base.html' %}


{% load bootstrap4 %}


{% block title %}Curso{% endblock %}


{% block menu %}
    {% if student.id %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="{% url 'student-delete' classroom.id student.id %}" class="btn btn-outline-danger btn-sm">eliminar</a>
            </li>
        </ul>
    {% endif %}
{% endblock menu %}


{% block content %}

    {% if student.id %}
        {% include 'base/header.html' with title='Editar estudiante' subtitle=classroom.name back_url=classroom.get_student_list_url %}
    {% else %}
        {% include 'base/header.html' with title='Crear estudiante' subtitle=classroom.name back_url=classroom.get_student_list_url %}
    {% endif %}

    <form class="p-4" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {% bootstrap_form form %}

        <br>

        <p>
            <button class="btn btn-block btn-success">guardar</button>
            <a href="{{ classroom.get_student_list_url }}" class="btn btn-block btn-outline-secondary">cancelar</a>
        </p>
    </form>

{% endblock content %}
