{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}Gastos{% endblock %}


{% block menu %}

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'student-create' classroom.id %}" class="btn btn-outline-success btn-sm">agregar</a>
        </li>
    </ul>

{% endblock menu %}


{% block content %}

    {% include 'base/header.html' with title='Estudiantes' subtitle=classroom.name back_url=classroom.get_detail_url %}

    {% if students.exists %}

        <div class="list-group list-group-flush">

            {% for student in students %}
                <a class="list-group-item list-group-item-action py-2" href="{% url 'student-detail' classroom.id student.id %}">
                    <div class="d-flex">
                        <div>
                            {% thumbnail student.avatar "50x50" crop="top" as avatar %}
                                <img class="rounded" src="{{ avatar.url }}" width="{{ avatar.width }}" height="{{ avatar.height }}" alt="{{ user }}">
                            {% empty %}
                                <img class="rounded" src="https://api.adorable.io/avatars/50/{{ student }}.png" width="50" height="50" alt="{{ student }}">
                            {% endthumbnail %}
                        </div>
                        <div class="pl-2">
                            <small>Nombre</small>
                            <div class="font-weight-bold">{{ student.first_name }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    {% else %}

        <p class="display-4 text-secondary text-center pt-5">
            <a href="{% url 'student-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
        </p>

        <p class="text-secondary text-center p-1">Agrega a tu primer estudiante</p>

    {% endif %}

{% endblock content %}
