{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}


{% block title %}Cursos - {{ block.super }}{% endblock %}


{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'classroom-create' %}" class="btn btn-outline-success btn-sm">crear</a>
        </li>
    </ul>
{% endblock menu %}


{% block header %}

    {% include 'base/header.html' with title='Cursos' subtitle='Lista de cursos' %}

{% endblock header %}



{% block content %}

    {% if classrooms_teacher.exists or classrooms_parent.exists or classrooms_student.exists %}

        {% if classrooms_teacher.exists %}
            {% include 'classrooms/classroom_list_content.html' with classrooms=classrooms_teacher title="Profesor" %}
        {% endif %}

        {% if classrooms_parent.exists %}
            {% if classrooms_teacher.exists %}<br/>{% endif %}
            {% include 'classrooms/classroom_list_content.html' with classrooms=classrooms_parent title="Apoderado" %}
        {% endif %}

        {% if classrooms_student.exists %}
            {% if classrooms_teacher.exists or classrooms_parent.exists %}<br/>{% endif %}
            {% include 'classrooms/classroom_list_content.html' with classrooms=classrooms_student title="Estudiante" %}
        {% endif %}

    {% else %}

        <p class="display-4 text-secondary text-center pt-5">
            <a href="{% url 'classroom-create' %}" class="btn btn-success btn-sm">comenzar</a>
        </p>

        <p class="text-secondary text-center p-1">Crea tu primer curso</p>

    {% endif %}

{% endblock content %}
