{% extends 'base.html' %}


{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}


{% block title %}Curso - {{ block.super }}{% endblock %}


{% block menu %}

    {% if classroom.id and classroom.creator == request.user %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="{% url 'classroom-update' classroom.id %}" class="btn btn-outline-secondary btn-sm">editar</a>
            </li>
        </ul>
    {% endif %}

{% endblock menu %}


{% block header %}

    {% include 'base/header.html' with title=classroom.name subtitle='Curso' back_url=back_url %}

{% endblock header %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center   ">
                <span>Mensajes</span>

                {% if classroom.id and classroom.creator == request.user %}
                    <a href="{% url 'post-create' classroom.id %}" class="btn btn-outline-success btn-sm">agregar</a>
                {% endif %}
            </div>
        </div>

        {% if classroom.posts.exists %}

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action py-2" href="{{ classroom.posts.last.get_detail_url }}">
                    <div class="d-flex justify-content-between">
                        <small>{{ classroom.posts.last.creator }}</small>
                        <small>{{ classroom.posts.last.creation_timestamp|date }}</small>
                    </div>
                    <div class="font-weight-bold">{{ classroom.posts.last.subject }}</div>
                </a>
                <div class="list-group-item text-right py-2">
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'post-list' classroom.id %}">ver todos &rarr;</a>
                </div>
            </div>

        {% elif classroom.creator == request.user %}

            <p class="display-4 text-secondary text-center pt-2">
                <a href="{% url 'post-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
            </p>

            <p class="text-secondary text-center p-1">Envia a tu primer mensaje</p>

        {% else %}

            <p class="text-center pt-4">
                <i class="h1 text-secondary far fa-envelope"></i>
            </p>

            <p class="text-secondary text-center pt-1 pb-2">Aun no tienes mensajes</p>

        {% endif %}
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center   ">
                <span>Preguntas</span>
                <a href="{% url 'question-create' classroom.id %}" class="btn btn-outline-success btn-sm">preguntar</a>
            </div>
        </div>

        {% if classroom.questions.exists %}

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action py-2" href="{{ classroom.questions.last.get_detail_url }}">
                    <div class="d-flex justify-content-between">
                        <small>{{ classroom.questions.last.creator }}</small>
                        <!-- <small>{{ classroom.questions.last.creation_timestamp|date }}</small> -->
                    </div>
                    <div class="font-weight-bold">{{ classroom.questions.last.subject }}</div>
                </a>
                <div class="list-group-item text-right py-2">
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'question-list' classroom.id %}">ver todas &rarr;</a>
                </div>
            </div>

        {% else %}

            <p class="display-4 text-secondary text-center pt-2">
                <a href="{% url 'question-create' classroom.id %}" class="btn btn-success btn-sm">preguntar</a>
            </p>

            <p class="text-secondary text-center p-1">Envia tu primera pregunta</p>

        {% endif %}
    </div>

    <br>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center   ">
                <span>Estudiantes</span>

                {% if classroom.id and classroom.creator == request.user %}
                    <a href="{% url 'student-create' classroom.id %}" class="btn btn-outline-success btn-sm">agregar</a>
                {% endif %}
            </div>
        </div>

        {% if students.exists %}

            <div class="list-group list-group-flush">

                {% for student in students.all %}
                    <a class="list-group-item list-group-item-action py-2" href="{% url 'student-detail' classroom.id student.id %}">
                        <div class="d-flex">
                            <div>
                                {% thumbnail student.avatar "50x50" crop="top" as avatar %}
                                    <img class="rounded" src="{{ avatar.url }}" width="{{ avatar.width }}" height="{{ avatar.height }}" alt="{{ user }}">
                                {% empty %}
                                    <img class="rounded" src="https://api.adorable.io/avatars/50/{{ student }}.png" width="50" height="50" alt="{{ student }}">
                                {% endthumbnail %}
                            </div>
                            <div class="pl-2">
                                <small>Nombre</small>
                                <div class="font-weight-bold">{{ student.first_name }}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        {% else %}

            <p class="display-4 text-secondary text-center pt-5">
                <a href="{% url 'student-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
            </p>

            <p class="text-secondary text-center p-1">Agrega a tu primer estudiante</p>

        {% endif %}
    </div>

{% endblock content %}
