{% extends 'base.html' %}


{% load bootstrap4 %}


{% block title %}Curso - {{ block.super }}{% endblock %}


{% block header %}

    {% if parent.id %}
        {% include 'base/header.html' with title='Editar apoderado' subtitle=student back_url=back_url %}
    {% else %}
        {% include 'base/header.html' with title='Crear apoderado' subtitle=student back_url=back_url %}
    {% endif %}

{% endblock header %}


{% block content %}

    <div class="card">
        <div class="card-header">{% if parent.id %}Editar{% else %}Crear{% endif %} apoderado</div>
        <form class="card-body" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {% bootstrap_form form %}

            <br>

            <p>
                <button class="btn btn-block btn-success">guardar</button>
                <a href="{{ student.get_parent_list_url }}" class="btn btn-block btn-outline-secondary">cancelar</a>
            </p>
        </form>
    </div>

{% endblock content %}
