{% extends 'base/skeleton.html' %}


{% block head %}

    <title>Implicari</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/regular.css" integrity="sha384-IG162Tfx2WTn//TRUi9ahZHsz47lNKzYOp0b6Vv8qltVlPkub2yj9TVwzNck6GEF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

    <style>
        html {
            height: 100%;
        }
        
        body {
            height: 100%;
        }
        
        .sidebar {
            background-color: #fff;
            box-shadow: 0 0 30px #999;
            display: flex;
            flex-direction: column;
            height: 100vh;
            left: -100%;
            max-width: 500px;
            opacity: 1;
            position: absolute;
            top: 0;
            transition: all .75s ease;
            width: 100%;
            z-index: 1000;
        }

        .sidebar.active {
            left: 0;
            opacity: 1;
        }

        .sidebar-close {
            border: 1px solid white;
            cursor: pointer;
            font-size: 2em;
            font-weight: bold;
            padding: 0.25rem 0.75rem;
            text-align: right;
        }

        .sidebar-header {
            margin-bottom: auto;
        }

        .sidebar-content {
            flex: 1;
            overflow-y: auto;
        }

        .sidebar-footer {
            margin-top: auto;
        }

    </style>

    {% block styles %}{% endblock %}

{% endblock head %}


{% block body %}

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand sidebar-open" href="#" data-target="#sidebar"><span class="badge badge-danger p-2">Implicari</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                {% block menu %}
                    <ul class="navbar-nav ml-auto">
                    </ul>
                {% endblock menu %}
            </div>
        </div>
    </nav>

    <sidebar class="sidebar" id="sidebar">
        <div class="sidebar-close">&times;</div>

        <div class="sidebar-content list-group list-group-flush">
            <a href="{% url 'classroom-list' %}" class="list-group-item list-group-item-action">cursos</a>
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">perfil</a>
            <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action">cambiar contraseña</a>
        </div>

        <div class="sidebar-footer list-group list-group-flush">
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action disabled">cerrar sesión</a>
        </div>
    </sidebar>

    {% block header %}{% endblock %}

    <div class="d-flex h-100">
        <div class="w-25 h-100 p-4 shadow">

            <p>Cursos</p>

            <ul>
                {% for classroom in classrooms %}
                    <li>{{ classroom }}</li>
                {% endfor %}
            </ul>

            <hr>

            <p>Estudiantes</p>

            <ul>

            </ul>

        </div>

        <div class="w-75">

            <div class="container my-4">
                {% block content %}{% endblock %}
            </div>
        
        </div>
    </div>

    {% if GOOGLE_ADSENSE_ID %}
        <div class="container my-4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-client="{{ GOOGLE_ADSENSE_ID }}" data-ad-slot="4651167392" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script>
        $('.sidebar-open').on('click', function(e) {
            e.preventDefault();

            var target = $(this).data('target');

            $(target).addClass('active');
            $('body').css('overflow', 'hidden');
        });

        $('.sidebar-close').on('click', function(e) {
            e.preventDefault();
            $(this).parents('.sidebar:first').removeClass('active');
            $('body').css('overflow', 'visible');
        });
    </script>

    {% block scripts %}{% endblock %}

{% endblock body %}
