{% load thumbnail %}
{% load bootstrap4 %}


<div class="card mt-1">
    <form class="card-body py-2 d-flex" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div style="width: 50px">
            {% thumbnail request.user.avatar "50x50" crop="top" as avatar %}
                <img class="rounded" src="{{ avatar.url }}" width="{{ avatar.width }}" height="{{ avatar.height }}" alt="{{ request.user }}">
            {% empty %}
                <img class="rounded" src="https://api.adorable.io/avatars/50/{{ request.user }}.png" width="50" height="50" alt="{{ request.user }}">
            {% endthumbnail %}
        </div>

        <div class="pl-2 w-100">
            <p class="mb-2"><small class="font-weight-bold">{{ request.user }}</small></p>

            {% bootstrap_form form show_label=False %}

            <button class="btn btn-block btn-sm btn-outline-success">responder</button>
        </div>

    </form>
</div>
