{% extends 'base.html' %}


{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}


{% block title %}Curso{% endblock %}


{% block styles %}

    <style>
        .message p {
            margin: 0;
        }

        .message ul {
            margin: 0;
        }
    </style>
{% endblock styles %}


{% block header %}

    {% include 'base/header.html' with title=classroom.name subtitle='Curso' back_url=classroom.get_question_list_url %}

{% endblock header %}


{% block content %}

    <div class="card">
        <div class="card-header">Pregunta</div>
        <div class="card-body py-2 d-flex">
            {% thumbnail question.creator.avatar "50x50" crop="top" as avatar %}
                <img class="rounded" src="{{ avatar.url }}" width="{{ avatar.width }}" height="{{ avatar.height }}" alt="{{ question.creator }}">
            {% empty %}
                <img class="rounded" src="https://api.adorable.io/avatars/50/{{ question.creator }}.png" width="50" height="50" alt="{{ question.creator }}">
            {% endthumbnail %}

            <div class="pl-2">
                <small>{{ question.creator }}</small>
                <br>
                <small>{{ question.creation_timestamp }}</small>
            </div>
        </div>

        <hr class="m-0">

        <div class="card-body py-2">
            <div class="font-weight-bold">{{ question.subject }}</div>
            <div class="message">{{ question.message|safe }}</div>
        </div>
    </div>

    {% for answer in question.answers.all %}
        {% include 'answers/answer_detail_content.html' with answer=answer %}
    {% endfor %}

    {% include 'answers/answer_form_content.html' with form=form %}

{% endblock content %}
