{% extends 'base.html' %}


{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}


{% block title %}Curso - {{ block.super }}{% endblock %}


{% block menu %}

    {% if classroom.id and classroom.creator == request.user %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="{% url 'classroom-update' classroom.id %}" class="btn btn-outline-secondary btn-sm">editar</a>
            </li>
        </ul>
    {% endif %}

{% endblock menu %}


{% block header %}

    {% include 'base/header.html' with title=classroom.name subtitle='Curso' back_url=back_url %}

{% endblock header %}


{% block content %}

    {% include 'classrooms/classroom_detail_events.html' %}

    <br>

    {% include 'classrooms/classroom_detail_evaluations.html' %}

    <br>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <span>Estudiantes</span>

                {% if classroom.id and classroom.creator == request.user %}
                    <a href="{% url 'student-create' classroom.id %}" class="btn btn-outline-success btn-sm">agregar</a>
                {% endif %}
            </div>
        </div>

        {% if students.exists %}

            <div class="list-group list-group-flush">

                {% for student in students.all %}
                    <a class="list-group-item list-group-item-action py-2" href="{% url 'student-detail' classroom.id student.id %}">
                        <div class="d-flex justify-content-between">
                            <div class="flex-grow-1">
                                <small>Nombre</small>
                                <div>{{ student.first_name }}</div>
                            </div>

                            {% for delivery_status in student.deliveries_status.all %}
                                <div class="text-center pl-4">
                                    <small class="text-black-50"># {{ delivery_status.evaluation.order }}</small>
                                    <div class="font-weight-bold">
                                        {% if delivery_status.is_delivered %}
                                            <i class="far fa-check-circle text-success"></i>
                                        {% else %}
                                            <i class="far fa-times-circle text-danger"></i>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>


                    </a>
                {% endfor %}
            </div>

        {% else %}

            <p class="display-4 text-secondary text-center pt-5">
                <a href="{% url 'student-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
            </p>

            <p class="text-secondary text-center p-1">Agrega a tu primer estudiante</p>

        {% endif %}
    </div>

{% endblock content %}
