{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}
{% load i18n %}


{% block title %}Curso - {{ block.super }}{% endblock %}


{% block header %}

{% endblock header %}


{% block content %}

    <div class="card">
        <div class="card-header">Eliminar curso</div>
        <form class="p-4" method="post">
            {% csrf_token %}

            <input type="hidden" value="{{ classroom.id }}" name="itemsToDelete" />

            <p>El siguiente gasto será eliminado. Estas seguro?</p>

            <div class="alert alert-secondary">{{ classroom }}</div>

            <br>

            <p>
                <button class="btn btn-block btn-danger">eliminar</button>
                <a href="{{ classroom.get_update_url }}" class="btn btn-block btn-outline-secondary">cancelar</a>
            </p>
        </form>
    </div>

{% endblock content %}
