{% load mathfilters %}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <span>Eventos</span>

            {% if classroom.id and classroom.creator == request.user %}
                <a href="{% url 'event-create' classroom.id %}" class="btn btn-outline-success btn-sm">crear</a>
            {% endif %}
        </div>
    </div>

    {% if classroom.events.exists %}

        <div class="list-group list-group-flush">
            {% for event in classroom.events.all %}
                <a class="list-group-item list-group-item-action py-2" href="{% url 'event-detail' classroom.id event.id %}">
                    <div class="d-flex jusify-content-between">
                        <div class="text-center pr-4 text-muted">
                            <small>#</small>
                            <div>{{ event.order }}</div>
                        </div>
                        <div class="flex-grow-1">
                            <small>Nombre</small>
                            <div class="font-weight-bold">{{ event.description }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    {% elif classroom.creator == request.user %}

        <p class="display-4 text-secondary text-center pt-2">
            <a href="{% url 'event-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
        </p>

        <p class="text-secondary text-center p-1">Crea a tu primera evaluación</p>

    {% else %}

        <p class="text-center pt-4">
            <i class="h1 text-secondary far fa-envelope"></i>
        </p>

        <p class="text-secondary text-center pt-1 pb-2">Aun no tienes evaluaciones</p>

    {% endif %}
</div>
