{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}


{% block title %}Gastos{% endblock %}


{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="{% url 'post-create' classroom.id %}" class="btn btn-outline-success btn-sm">crear</a>
        </li>
    </ul>
{% endblock menu %}


{% block content %}

    {% include 'classrooms/classroom_summary.html' with classroom=classroom %}

    {% if posts.exists %}

        <div class="list-group list-group-flush">
            {% for post in posts %}
                <a class="list-group-item list-group-item-action py-2" href="{{ post.get_detail_url }}">
                    <div class="d-flex justify-content-between">
                        <small>{{ post.creator }}</small>
                        <small>{{ post.creation_timestamp|date }}</small>
                    </div>
                    <div class="font-weight-bold">{{ post.subject }}</div>
                </a>
            {% endfor %}
        </div>

    {% else %}

        <p class="display-4 text-secondary text-center pt-5">
            <a href="{% url 'post-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
        </p>

        <p class="text-secondary text-center p-1">Crea tu primer curso</p>

    {% endif %}

{% endblock content %}
