{% extends 'base.html' %}


{% load humanize %}
{% load l10n %}


{% block title %}Mensajes{% endblock %}


{% block header %}

    {% include 'base/header.html' with title=classroom.name subtitle='Curso' back_url=classroom.get_detail_url %}

{% endblock header %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <span>Mensajes</span>

                {% if classroom.creator == request.user %}
                    <a href="{% url 'post-create' classroom.id %}" class="btn btn-outline-success btn-sm">agregar</a>
                {% endif %}
            </div>
        </div>

        {% if posts.exists %}

            <div class="list-group list-group-flush">
                {% for post in posts %}
                    <a class="list-group-item list-group-item-action py-2" href="{{ post.get_detail_url }}">
                        <div class="d-flex justify-content-between">
                            <small>{{ post.creator }}</small>
                            <small>{{ post.creation_timestamp|date }}</small>
                        </div>
                        <div class="font-weight-bold">{{ post.subject }}</div>
                    </a>
                {% endfor %}
            </div>

        {% elif classroom.creator == request.user %}

            <p class="text-center pt-4">
                <i class="h1 text-secondary far fa-envelope"></i>
            </p>

            <p class="text-secondary text-center">
                <a href="{% url 'post-create' classroom.id %}" class="btn btn-success btn-sm">comenzar</a>
            </p>

            <p class="text-secondary text-center pt-1 pb-2">Envia tu primer mensaje</p>

        {% else %}

            <p class="text-center pt-4">
                <i class="h1 text-secondary far fa-envelope"></i>
            </p>

            <p class="text-secondary text-center pt-1 pb-2">Aun no tienes mensajes</p>

        {% endif %}
    </div>

{% endblock content %}
